---
import './MicroFooter.scss';
---

<footer class="micro-footer">

  <div class="container">

    <div class="micro-footer__wrapper">

      <div class="micro-footer__left">

        <div class="micro-footer__logo">
          REMCONSOLE
        </div>

        <div class="micro-footer__meta">
          ремонт игровых приставок
          и геймпадов
        </div>

      </div>

      <div class="micro-footer__right">

        <a href="#">
          telegram
        </a>

        <a href="#">
          whatsapp
        </a>

      </div>

    </div>

  </div>

</footer>